:root {

    /* BREAKPOINTS:
    - 0px
    - 600px
    - 900px
    - 1200px
    - 1800px
    */

    /* COLORS */
    --darkest: #0a120c;
    --darker: #16241a;
    --dark: #24382A;
    --medium: #4C785B;
    --light: #74B88B;
    --lighter: #7CC494;
    --lightest: #d0f7da;
    --accentLight: #77d4fc;
    --accentDark: #09232e;
    --accentTitle: #f5ebb5;
    --accentPageTitle: #fac364;
    --codeColor: #f5ebb5;

    /* FONTSIZES */
    --smallestText: 0.5rem;
    --smallerText: 0.75rem;
    --smallText: 0.875rem;
    --codeText: 1rem;
    --normalText: 1.1rem;
    --mediumText: 1.25rem;
    --largeText: 1.5rem;
    --largerText: 2rem;
    --largestText: 3rem;

    /* SPACING */
    --smallestSpace: 0.25rem;
    --smallerSpace: 0.5rem;
    --smallSpace: 0.75rem;
    --normalSpace: 1rem;
    --mediumSpace: 1.25rem;
    --largeSpace: 1.5rem;
    --largerSpace: 2rem;
    --largestSpace: 3rem;

    /* FONTWEIGHTS */
    --lightWeight: 300;
    --normalWeight: 400;
    --mediumWeight: 500;
    --semiBoldWeight: 600;
    --boldWeight: 700;
    --boldestWeight: 900;

    /* BORDER RADIUS */
    --radius: 0.5rem;

}


* {
    box-sizing: border-box;
    font-weight: var(--lightWeight);
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Heebo', sans-serif;
    background-color: var(--darker);
    font-size: var(--codeText);
}

@media (min-width: 600px) {
    body {
        font-size: var(--normalText);
    }
}

h1, h2, h3, p, ul, li, ol, a, button, input, textarea, select {
    margin: 0px;
}

ul {
    list-style: none;
}

        /* bullet style */
        ul li::before {
            content: "✦";
            font-size: 0.65em;
            color: var(--accentLight);
            display: inline-block;
            width: 1.75em;
            margin-left: -2em;
        }

h1 {
    font-size: var(--largestText);
    color: var(--accentTitle);
    font-weight: var(--mediumWeight);
}

h2 {
    font-size: var(--largerText);
    color: var(--light);
    font-weight: var(--mediumWeight);
}

h3 {
    font-size: var(--largeText);
    margin: var(--smallestSpace) 0;
    color: var(--lightest);
    font-weight: var(--mediumWeight);
}

p {
    color: var(--lightest);
    font-weight: var(--normalWeight);
}

b {
    font-weight: var(--mediumWeight);
    text-decoration: underline;
}